<div class="about">
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eum ea odit dolorem corrupti eligendi reiciendis. Magni ad ea repudiandae quae optio necessitatibus sed. Et culpa ea, illo voluptatem est aspernatur facilis a recusandae atque commodi soluta magnam dignissimos? Inventore alias quidem, animi et quod ad tempora accusantium tempore unde maxime ullam perspiciatis asperiores magnam odio! Odio debitis officiis ab beatae enim. Pariatur facilis id deleniti ipsum? Corporis praesentium consequuntur voluptatibus voluptate repudiandae molestias, odio eveniet quisquam corrupti cupiditate! Ipsam explicabo id libero, iusto ex alias praesentium modi quisquam repellat corrupti quod, quasi asperiores doloribus molestias eligendi commodi, aspernatur hic.</p>
  <img src="https://images.pexels.com/photos/169647/pexels-photo-169647.jpeg" alt="">
</div>