<div class="welcome">
  <h1>Welcome to my blog!</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ea commodi cum vero doloribus dolores consectetur velit inventore placeat unde perferendis, laudantium nisi tempora accusantium iste sit repudiandae aut praesentium!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque vero nam, ea corrupti iusto consequatur voluptatum beatae odit, eos dolor, modi laborum quibusdam? Culpa, laudantium! Illum error nobis nemo. Sit.
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta asperiores provident repellendus eos porro veniam officia architecto impedit neque, esse a ut aliquam ullam fugiat quod, corporis, maxime molestiae possimus odio magni ea labore quaerat quidem! Voluptate fugit veniam recusandae!
  </p>
  <img src="img/background-image.jpg" alt="">
</div>