<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog </title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <h1>Blog</h1>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/all-blogs">All Blogs</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  
  <%- body %> 

  <footer class="foot">
    <p>Copyright. 2020</p>
  </footer>
</body>
</html>